In [2]:
import pandas as pd
from scipy import sparse

## processing for my dataset

In [2]:
ratings_df=pd.read_csv('ratings_small.csv')

In [3]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
len(ratings_df['movieId'].unique())

9066

In [5]:
id_df=pd.read_csv('links.csv')

In [6]:
id_df['tmdbId']

0           862.0
1          8844.0
2         15602.0
3         31357.0
4         11862.0
           ...
45838    439050.0
45839    111109.0
45840     67758.0
45841    227506.0
45842    461257.0
Name: tmdbId, Length: 45843, dtype: float64

In [7]:
df=pd.read_csv('../all_movies_data.csv')

In [8]:
df.tmdb_id.values

array([2.74000e+02, 2.80000e+02, 1.00200e+04, ..., 8.72542e+05,
       5.69118e+05, 9.45423e+05])

In [9]:
id_df.tmdbId.unique()

array([   862.,   8844.,  15602., ...,  67758., 227506., 461257.])

In [10]:
newdf=pd.DataFrame()

In [11]:
newdf=id_df[id_df.tmdbId.isin(df.tmdb_id.values)]
newdf.shape

(7461, 3)

In [12]:
newdf.movieId.values

array([     1,      2,      3, ..., 175779, 175813, 176045], dtype=int64)

In [13]:
ratings_df=ratings_df[ratings_df.movieId.isin(newdf.movieId.values)]
ratings_df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
2            1     1061     3.0  1260759182
6            1     1287     2.0  1260759187
8            1     1339     3.5  1260759125
9            1     1343     2.0  1260759131
...        ...      ...     ...         ...
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[66424 rows x 4 columns]

In [14]:
ratings_df.to_csv('my_ratings.csv',index=False)

## svd

In [16]:
matrix_data=ratings_df
matrix_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
2       1     1061     3.0  1260759182
6       1     1287     2.0  1260759187
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [17]:
matrix_data=matrix_data[~matrix_data.userId.values<=2]

In [18]:
movie_user_data=matrix_data.pivot_table(index='movieId',columns='userId',values='rating')

In [34]:
movie_user_data_y=movie_user_data.fillna(-1)
movie_user_data_y

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,3.0,-1.0,4.0,-1.0,...,-1.0,4.0,3.5,-1.0,-1.0,-1.0,-1.0,-1.0,4.0,5.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,5.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,4.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160565,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
160567,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
160656,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
161594,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
162542,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [35]:
movie_user_data_r=movie_user_data.copy()
movie_user_data_r=movie_user_data.where(~movie_user_data_r.notna(),1)
movie_user_data_r=movie_user_data_r.fillna(0)
movie_user_data_r

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
R=movie_user_data_r.values
Y=movie_user_data_y.values

In [ ]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()

In [23]:
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)

In [28]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([0.90902308, 0.90390237, 0.89699749, 0.90820954, 0.89126504]),
 'test_mae': array([0.70031621, 0.69466641, 0.69204693, 0.70076812, 0.68792874]),
 'fit_time': (2.672048330307007,
  2.7520811557769775,
  2.903839111328125,
  2.8025946617126465,
  2.7262990474700928),
 'test_time': (0.10196375846862793,
  0.09095072746276855,
  0.09959721565246582,
  0.0838932991027832,
  0.0886995792388916)}

In [29]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [30]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.9725523648455487, details={'was_impossible': False})

In [31]:
ratings_df[ratings_df.userId==1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
2        1     1061     3.0  1260759182
6        1     1287     2.0  1260759187
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
11       1     1405     1.0  1260759203
16       1     2294     2.0  1260759108

## collaborative

In [3]:
ratings = pd.read_csv('all_ratings.csv')
movies = pd.read_csv('all_movies.csv')
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)
ratings.head()

(100836, 4)

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [4]:
movies.shape

(9742, 3)

In [5]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
# print("Before: ",userRatings.shape)
# userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
# print("After: ",userRatings.shape)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Tis the Season for Love (2015),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"'burbs, The (1989)",NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.997176,0.500000,...,NaN,NaN,NaN,NaN,NaN,-0.067522,NaN,NaN,-0.002732,NaN
'night Mother (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(500) Days of Summer (2009),NaN,NaN,NaN,NaN,NaN,NaN,0.997176,NaN,1.000000,0.944911,...,NaN,-0.866025,NaN,NaN,NaN,-0.388883,0.831858,1.0,0.572078,NaN
*batteries not included (1987),NaN,NaN,NaN,NaN,NaN,NaN,0.500000,NaN,0.944911,1.000000,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.622543,NaN

In [7]:
def get_similar_movies(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    return similar_ratings

In [8]:
def get_recommendations(ratings_list):
    similar_movies = pd.DataFrame()
    for movie,rating in ratings_list:
        similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index = True)
    ans=similar_movies.sum().sort_values(ascending=False).head(12)
    return ans.index.values

In [9]:
ratings_list = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
get_recommendations(ratings_list)

array(['Raiders of the Lost Ark: The Adaptation (1989)',
       'Magic Mike (2012)', "Fool's Gold (2008)",
       'Memories (MemorÃ®zu) (1995)', 'Wanderlust (2012)',
       'For Richer or Poorer (1997)', 'Sunshine Cleaning (2008)',
       'Ferngully: The Last Rainforest (1992)',
       'District 13: Ultimatum (Banlieue 13 - Ultimatum) (2009)',
       'Exam (2009)', 'Bad Words (2013)', 'Cedar Rapids (2011)'],
      dtype=object)

In [52]:
ratings_list = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
get_recommendations(ratings_list)

array(['(500) Days of Summer (2009)', 'Alice in Wonderland (2010)',
       'Silver Linings Playbook (2012)', 'Yes Man (2008)',
       'Adventureland (2009)', 'Marley & Me (2008)', 'About Time (2013)',
       'Crazy, Stupid, Love. (2011)', '50/50 (2011)', 'Help, The (2011)',
       'Up in the Air (2009)', 'Holiday, The (2006)'], dtype=object)

In [51]:
ratings_list=[("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
get_recommendations(ratings_list)

array(['Amazing Spider-Man, The (2012)', 'Mission: Impossible III (2006)',
       '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
       'Over the Hedge (2006)', 'Crank (2006)',
       'Mission: Impossible - Ghost Protocol (2011)', 'Hancock (2008)',
       'The Amazing Spider-Man 2 (2014)', 'Hellboy (2004)',
       'Snakes on a Plane (2006)', 'Jumper (2008)',
       'Chronicles of Riddick, The (2004)'], dtype=object)